$theme: blue;
$mainBorder: 5px;
$padding : 10px;

@mixin SetEffects($themecolor) {
    $border:$mainBorder solid $themecolor; 
    $shadow: 2px 2px 3px rgb(183, 183, 185);
    @if $mainBorder>10px{
        $padding: 20px;
    } @else {
        $padding: 10px;
    }
    $text: $themecolor;
    .container{
        border:$border;
        padding:$padding;
        // background-color: yellow;
        box-shadow: $shadow;
        h2{
            color:$text;
            text-align: center;
            border:$border; 
        }
        p{
            color: $themecolor;
            box-shadow: $shadow;
            padding: $padding;
            border: $border;
        }
    }
}

@if $theme==gray
{
   @include SetEffects(gray);
}@else if $theme==blue {
    @include SetEffects(blue);
} @else {
    @include SetEffects(black);
}

